USE [master]
GO
/****** Object:  Database [Plants]    Script Date: 30.04.2025 12:42:21 ******/
CREATE DATABASE [Plants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Plants', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Plants.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Plants_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Plants_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Plants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Plants]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 30.04.2025 12:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Код] [int] NOT NULL,
	[Название] [nchar](50) NOT NULL,
	[Материк] [nchar](50) NOT NULL,
	[Столица] [nchar](50) NULL,
 CONSTRAINT [PK_Страны] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plant]    Script Date: 30.04.2025 12:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plant](
	[Код] [int] NOT NULL,
	[Название] [nchar](50) NOT NULL,
	[Семейство] [nchar](50) NOT NULL,
	[Раздел] [nchar](50) NULL,
 CONSTRAINT [PK_Растения] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantsInCountry]    Script Date: 30.04.2025 12:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantsInCountry](
	[Страна] [int] NOT NULL,
	[Растение] [int] NOT NULL,
	[КолвоКорней] [int] NOT NULL,
 CONSTRAINT [PK_РастенияВСтране] PRIMARY KEY CLUSTERED 
(
	[Страна] ASC,
	[Растение] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 30.04.2025 12:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30.04.2025 12:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[UserSurname] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NULL,
	[UserLogin] [nvarchar](50) NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Country] ([Код], [Название], [Материк], [Столица]) VALUES (1, N'Россия                                            ', N'Евразия                                           ', N'Москва                                            ')
INSERT [dbo].[Country] ([Код], [Название], [Материк], [Столица]) VALUES (2, N'Чехия                                             ', N'Евразия                                           ', N'Прага                                             ')
INSERT [dbo].[Country] ([Код], [Название], [Материк], [Столица]) VALUES (3, N'Германия                                          ', N'Евразия                                           ', N'Берлин                                            ')
GO
INSERT [dbo].[Plant] ([Код], [Название], [Семейство], [Раздел]) VALUES (1, N'Мутинус собачий                                   ', N'Веселковые                                        ', N'Грибы                                             ')
INSERT [dbo].[Plant] ([Код], [Название], [Семейство], [Раздел]) VALUES (2, N'Рогалик пестиковый                                ', N'Клавариевые                                       ', N'Грибы                                             ')
INSERT [dbo].[Plant] ([Код], [Название], [Семейство], [Раздел]) VALUES (3, N'Пиррозия язычная                                  ', N'Многоножковые                                     ', N'Папоротниковидные                                 ')
GO
INSERT [dbo].[PlantsInCountry] ([Страна], [Растение], [КолвоКорней]) VALUES (1, 2, 616)
INSERT [dbo].[PlantsInCountry] ([Страна], [Растение], [КолвоКорней]) VALUES (1, 3, 330)
INSERT [dbo].[PlantsInCountry] ([Страна], [Растение], [КолвоКорней]) VALUES (1, 6, 440)
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Зарегестрированный пользователь')
GO
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (1, N'Gott', N'mit', N'ust', N'Admi', N'333', 1)
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (2, N'Veni', N'vidi', N'vici', N'Men', N'999', 2)
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (3, N'Андрианов', N'Алексей', N'Олегович', N'Player', N'666', 3)
GO
ALTER TABLE [dbo].[PlantsInCountry]  WITH CHECK ADD  CONSTRAINT [FK_РастенияВСтране_Растения] FOREIGN KEY([Растение])
REFERENCES [dbo].[Plant] ([Код])
GO
ALTER TABLE [dbo].[PlantsInCountry] CHECK CONSTRAINT [FK_РастенияВСтране_Растения]
GO
ALTER TABLE [dbo].[PlantsInCountry]  WITH CHECK ADD  CONSTRAINT [FK_РастенияВСтране_Страны] FOREIGN KEY([Страна])
REFERENCES [dbo].[Country] ([Код])
GO
ALTER TABLE [dbo].[PlantsInCountry] CHECK CONSTRAINT [FK_РастенияВСтране_Страны]
GO
USE [master]
GO
